.home {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    max-width: 95vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 20px auto;
    flex-direction: column;
}

.home h2 {
    font-size: 35px;
}

.home .home-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.home .home-container .raw-material,
.home .home-container .stock-material {
    border: 1px solid gray;
    padding: 35px;
    cursor: pointer;
}