.updated-raw-material {
    max-width: 85vw;
    margin: 30px auto;
}

.updated-raw-material .updated-controll-form-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.updated-raw-material .updated-controll-form-btn input,
.updated-raw-material .updated-controll-form-btn button {
    height: 32px;
}

.updated-raw-material .updated-controll-form-btn input {
    width: 340px;
}

@media (max-width: 680px) {
    .updated-raw-material .updated-controll-form-btn {
        flex-direction: column;
    }

    .updated-raw-material .updated-controll-form-btn input,
    .updated-raw-material .updated-controll-form-btn button {
        width: 100%;
        margin-bottom: 10px;
    }
}